/*nav*/
nav{
  height: 40px;
  line-height: 40px;
  background-color: #f7f7f7;
  box-shadow: 0px 5px 9.7px 0.3px rgba(0, 0, 0, 0.2);
  position:relative;
  z-index: 1;
  /*控制320的nan消失*/
  /*display: none;*/
}
nav .nav_style a div{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.57;
  letter-spacing: 1.4px;
  color: #4c778b;
  text-align: center;
  line-height: 40px;
}
nav ul{
  margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
  float: left;
}
.nav_right{
  float:right;
}
.nav_li_A{
  margin-left: 50px;
}
.nav_li_B{
  margin-left: 12px;
  color: #4c778b;
  font-size: 16px;
}
.nav_li_C{
  width: 85px;
}
.nav_li_D{
  width: 85px;
  margin-right: 79px;
}
/*hambuger*/
/*這裡控制nav和漢堡選單李登陸消失與出線的選項*/
.login_none{
  /*display: none;*/
}
.logout_none{
  /*display: none;*/
}
/*這裡控制nav和漢堡選單李登陸消失與出線的選項end*/
.hamburger{
  height: 40px;
  background-color: #f7f7f7;
  margin: 0;
  /*line-height: 40px;*/
  box-shadow: 0px 5px 9.7px 0.3px rgba(0, 0, 0, 0.2);
  position:relative;
  z-index: 1;
  /*控制320的nan消失*/
  display: none;
}
.ham-style{
  width: 20px;
  height: 25px;
  margin-left: 20px;
  /*微調漢堡三條線位置*/
  padding-top: 7px;
}
/*漢堡選單的按鈕跟右邊logo的對其*/
.hamnav_style{
  float: left;
  line-height: 40px;
}
.ham_logo{
  margin-right: 50%;
  transform: translate(50%, 0%);
  float: right;
  line-height: 40px;
}
.hamburger-menu {
  padding: 0;
  border: none;
  background: none;
}

.hamburger-menu .icon-bar {
  background-color: #406474; /*漢堡三條顏色*/
  display: block;
  height: 3px;
  margin: 0px auto 4px 0px;
  width: 20px;
}
.icon-bar_short{
  background-color: #406474; /*漢堡三條顏色*/
  display: block;
  height: 3px;
  margin: 0px auto 4px 0px;
  width: 18px;
}
/*漢堡選的裡的XX*/
.ham_close{
  margin-left: 221px;
  margin-top: 25px;
}
/*hambuger-menu*/
.ham_ul{
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 254px; /*整個漢堡選單的寬高*/
  height: 100%;
  background: #f7f7f7;
}
.hamburger ul{
  margin: 0;
	padding: 0;
  list-style: none;
}
.hello{
  margin-top: 70px;/*調整漢堡裡的最上層高度*/
  letter-spacing: 1.4px;
  color: #e4007f;
  font-size: 14px;
}
.li_hello{
  margin-bottom: 10px;
  padding-left: 36px;
}
.ham_ul li{ /*漢堡緩單裡的li*/
  text-align: left;
  height: 48px;
}
.ham_icom{
  margin-right: 11px;
}
.ham_ul li{
  height: 48px;
  line-height: 48px;
}
.ham_li_padding{
  padding-left: 51px;
}
.ham_li_text{
  letter-spacing: 1.6px;
  color: #406474;
  font-size: 16px;
}
/*漢堡選單控制*/
.ham_ul{
  display: none;
}
/**/
/*ham&nav*/
#here{
  background: #406474;
}
#here div {color: #ffffff;
}
#ham_here{
  background: #406474;
}
#ham_here div {
  color: #ffffff;
}
.ham_ul li:hover{
  background: #406474;
}
.ham_ul li:hover div{
  color: #ffffff;
}
.icom_mous_out{
  display: none;
}
#blackbg00{
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 768px) {
  .hamburger{
    display: none;
  }
  nav{
    display: block;
  }
  .nav_li_A{
    margin-left: 20px;
  }
  .nav_li_D{
    width: 60px;
    margin-right: 20px;
  }
  .nav_li_C{
    width: 70px;
  }
}
@media screen and (max-width: 480px) {
  .hamburger{
    display: block;
  }
  nav{
    display: none;
  }
}
