<!DOCTYPE html>
<html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device, initial-scale=1">
    <title>ark</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/ham_style.css">
    <link rel="stylesheet" href="./receive_css/receive_style.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="./receive_js/receive_script.js"></script>
    <style>
      @import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
    </style>
    <style>
      <%= loginCollect.navsatus %> {display:none;}
      a:hover {text-decoration:none};
    </style>
  </head>
  <body>
      <!-- hamburger -->
      <div class="hamburger">
        <div class="ham-style hamnav_style">
          <ul onclick="ham_show()" class="ham">
            <li>
              <button class="hamburger-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <ul class="ham_ul">
                  <li onclick="ham_close()"><a href="#"><img src="..\images\index\index320_nav_close_icon.png" alt="logo"></a></li>
                  <li><div class="hello">Hi，您好</div></li>
                  <li class="login_none"><a href="../login/login.html"><div>登入</div></a></li><!--class的login_none和logout_none可以消失-->
                  <li class="logout_none"><a href="./send"><div>送船</div></a></li><!--登入才要出現-->
                  <li class="logout_none" id="here"><a href="./receive"><div>收船</div></a></li><!--登入才要出現-->
                  <li><a href="#"><div>活動資訊</div></a></li>
                </ul>
          </li>
          </ul>
        </div><!--ham-style-->
        <div class="ham_logo hamnav_style">
          <div class="hamnav_style">
            <img src="..\images\index\logo_34x26.png" alt="logo">
          </div>
          <div class="nav_li_B hamnav_style">ark</div>
        </div>
      </div><!--hambuger-->
  <div class="container">
    <nav>
      <div class="nav_style">
        <ul>
          <li class="nav_li_A"><img src="..\images\index\logo_34x26.png" alt="logo"></li>
          <li><div class="nav_li_B"><a href="#">方舟．ark</a></div></li>
        </ul>
        <ul class="nav_right">
          <li class="nav_li_C"><a href="#"><div>活動資訊</div></a></li>
          <li class="nav_li_D login_none"><a href="../login/login.html"><div>登入</div></a></li><!--class的login_none和logout_none可以消失-->
          <li class="nav_li_C logout_none" id="here"><a href="/receive"><div>收船</div></a></li><!--登入才要出現-->
          <li class="nav_li_C logout_none"><a href="/send"><div>送船</div></a></li><!--登入才要出現-->
          <li class="nav_li_D logout_none"><a href="#"><div>登出</div></a></li><!--登入才要出現-->
        </ul>
      </div>
    <div class="clear"></div>
    </nav>
    <!-- 收船上方圖片與按鈕區 -->
    <header>
      <div class="cookie">首頁>收船</div>
      <div class="header_all">
        <div class="header_boat">
        </div>
      </div><!--header_all-->
    </header>
    <div id="blackbg01"></div><!-- 黑背景zindex=1 -->
    <div id="blackbg02"></div><!-- 黑背景zindex=3 -->

    <!-- 收船內容 -->
    <article>
      <div class="article_headertxt">您收到的紙船</div>


      <!-- 收船的內容需要重複 -->
      <div class="receive_all">
        <div class="receive_top myLink">
          <div class="receive_img">
            <img src="../images/shared_img/message_logo_pic01.png" alt="boat">
          </div>
          <div class="receive_box">
            <!-- 標題 -->
            <div class="receive_title">
              我覺得我一點都不勇敢
            </div>
            <!-- 內容 -->
            <div class="receive_content">
              如果我的堅強任性，會不小心傷害了你。你能不能溫柔提醒.........
            </div>
          </div>
          <div class="clear"></div>
        </div><!--receive_top-->
        <div class="receive_bottom">
          <!-- 抓時間 -->
          <div class="receive_bottom_time">
            >>2017/01/14  05:20
          </div>
          <!-- 需要刪除內容及檢舉 -->
          <div class="receive_bottom_features">
            <!-- 檢舉 -->
            <img class="myLink report" src="../images/shared_img/message_report_icon.png" alt="Report">
            <!-- 刪除 -->
            <img class="myLink delete" src="../images/shared_img/message_del _icon.png" alt="delete">
          </div>
        </div><!--receive_bottom-->

        <!--顯示更多內容跳出視窗 zindex=2 -->
        <div class="receive_window">
          <!-- 對話框叉叉 -->
          <img class="myLink window_close" src="../images/index/index320_nav_close_icon.png" alt="close">
          <!-- 對方的內文 -->
          <div class="receive_window_style">
              <div class="left receive_window_img">
                <img src="../images/shared_img/message_logo_pic01.png" alt="boat">
              </div>
              <div class="right receive_window_box">
                <!-- 標題 -->
                <div class="receive_window_title">
                  我覺得我一點都不勇敢
                </div>
                <!-- 抓時間 -->
                <div class="receive_window_time">
                  >>2017/01/14  05:20
                </div>
                <!-- 內容 -->
                <div class="receive_window_content">
                  如果我的堅強任性，會不小心傷害了你。你能不能溫柔提醒如果我的堅
                  強任性，會不小心傷害了你。你能不能溫柔提醒如果我的堅強任性，會
                  不小心傷害了你。你能不能溫柔提醒如果我的堅強任性，會不小心傷害
                  了你。
                </div>
              </div>
              <div class="clear"></div>
              <div class="right receive_bottom_features">
                <!-- 檢舉 -->
                <img class="myLink report" src="../images/shared_img/message_report_icon.png" alt="Report">
              </div>
          </div><!--receive_window_style-->
          <!-- 對方的內文end -->
          <!-- 我回應的內文 -->
          <div class="receive_window_style myreceive_style">
              <div class="left receive_window_img">
                <img src="../images/shared_img/receive_icon_you.png" alt="boat">
              </div>
              <div class="right receive_window_box">
                <!-- 內容 -->
                <div class="receive_window_content">
                  別擔心，你很棒！別擔心，你很棒！別擔心，你很棒！別擔心，你很
                  棒！別擔心，你很棒！別擔心，你很棒！別擔心，你很棒！別擔心，
                  你很棒！別擔心，你很棒！別擔心，你很棒！別擔心，你很棒！別擔
                  心，你很棒！
                </div>
                <!-- 抓時間 -->
                <div class="receive_window_time">
                  >>2017/01/14  05:20
                </div>
              </div><!--right receive_window_box-->
              <div class="clear"></div>
          </div><!--myreceive_style-->
          <!-- 我回應的內文 end-->
          <!--輸入回應區 -->
          <div class="receive_window_style receive_from_style">
              <div class="left receive_window_img rec_from_img">
                <img src="../images/shared_img/receive_icon_you.png" alt="boat">
              </div>
              <div class="right receive_window_box">
                <!-- 內容 -->
                <div class="receive_window_content">
                  <form>
                    <textarea name="name" placeholder="你想和他說什麼呢？" rows="5" cols="60"></textarea>
                    <div class="rec_from_but">
                      <input class="button_blue_input" type="reset" value="清除">
                      <input class="button_pink_input" type="submit" name="" value="傳送">
                    </div>
                  </form>
                </div>
              </div><!--right receive_window_box-->
              <!-- 抓時間 -->
              <div class="rec_from_time">
                >>2017/01/14  05:20
              </div>
          </div><!--receive_from_style-->
          <!--輸入回應區 end-->
        </div><!--receive_window-->
        <!-- 刪除跳出視窗 -->
        <div class="delete_window del_rep_win">
          <div class="features_title">刪除</div>
          <div class="features_content">將刪除這艘船，而且你將無法再找到它</div>
          <div class="delete_window_button">
            <div class="myLink button_blue" id="delete_no">取消</div>
            <!-- 刪除內容按鈕 -->
            <div class="myLink button_pink" id="delete_yes">刪除</div>
            <div class="clear"></div>
          </div>
        </div>
        <!-- 檢舉跳出視窗 -->
        <div class="report_window del_rep_win">
          <div class="features_title">檢舉</div>
          <div class="features_content">此內容讓人不舒服，我要檢舉！</div>
          <div class="delete_window_button">
            <div class="myLink button_blue" id="report_no">取消</div>
            <!-- 檢舉內容按鈕 -->
            <div class="myLink button_pink" id="report_yes">檢舉</div>
            <div class="clear"></div>
          </div>
        </div>
      </div><!--receive_all-->
      <!-- 收船的內容需要重複end -->



        <div class="more">
          <a href="#"><div>＋看更多</div></a>
        </div>
    </article>

    <footer>
      <div class="footer_txt">
        Copyright © 2017
      </div>
    </footer>
    </div><!--container-->
    <!-- <script src="../js/jquery.js"></script> -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/javascript.js"></script>
  </body>
</html>
