<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device, initial-scale=1">
    <title>ark</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/ham_style.css">
    <link rel="stylesheet" href="../login/login_style.css">
    <style>
      @import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
    </style>
    <style>
      a:hover {text-decoration:none};
    </style>
  </head>
  <body>
      <!-- hamburger -->
      <div class="hamburger">
        <div class="ham-style hamnav_style">
          <ul onclick="ham_show()" class="ham">
            <li>
              <button class="hamburger-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <ul class="ham_ul">
                  <li onclick="ham_close()"><a href="#"><img src="..\images\index\index320_nav_close_icon.png" alt="logo"></a></li>
                  <li><div class="hello">Hi，您好</div></li>
                  <li class="login_none"><a href="/login"><div>登入</div></a></li><!--class的login_none和logout_none可以消失-->
                  <li class="logout_none"><a href="#"><div>送船</div></a></li><!--登入才要出現-->
                  <li class="logout_none"><a href="#"><div>收船</div></a></li><!--登入才要出現-->
                  <li><a href="#"><div>活動資訊</div></a></li>
                </ul>
          </li>
          </ul>
        </div><!--ham-style-->
        <div class="ham_logo hamnav_style">
          <div class="hamnav_style">
            <img src="..\images\index\logo_34x26.png" alt="logo">
          </div>
          <div class="nav_li_B hamnav_style">ark</div>
        </div>
      </div><!--hambuger-->
  <div class="container">
    <nav>
      <div class="nav_style">
        <ul>
          <li class="nav_li_A"><img src="..\images\index\logo_34x26.png" alt="logo"></li>
          <li><div class="nav_li_B"><a href="#">方舟．ark</a></div></li>
        </ul>
        <!-- <ul class="nav_right">
          <li class="nav_li_C"><a href="#"><div>活動資訊</div></a></li>
          <li class="nav_li_D login_none"><a href="#"><div>登入</div></a></li>
          <li class="nav_li_C logout_none"><a href="#"><div>收船</div></a></li>
          <li class="nav_li_C logout_none"><a href="#"><div>送船</div></a></li>
          <li class="nav_li_D logout_none"><a href="#"><div>登出</div></a></li>
        </ul> -->
      </div>
    <div class="clear"></div>
  </nav>
  <!-- 內容區 -->
    <div class="allpage">
      <div class="cooke">首頁 > 登入 > 忘記密碼</div>
      <img src="..\images\index\logo_50x50.png" alt="logo">
      <div class="">新的密碼已寄送<br>請至註冊之電子信箱收取新密碼</div>
      <div class="">請重新登入會員</div>
      <div class="button_A">重寄新密碼</div>
    </div><!--allpage-->
    <footer>
      <div class="footer_txt">
        Copyright © 2017
      </div>
    </footer>
    </div><!--container-->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/javascript.js"></script>
  </body>
</html>
