<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device, initial-scale=1">
    <title>ark</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/ham_style.css">
    <link rel="stylesheet" href="./login_style.css">
    <style>
      @import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
    </style>
    <style>
      <%= loginCollect.navsatus %> {display:none;}
      a:hover {text-decoration:none};
    </style>
  </head>
  <body>
      <!-- hamburger -->
      <div class="hamburger">
        <div class="ham-style hamnav_style">
          <ul onclick="ham_show()" class="ham">
            <li>
              <button class="hamburger-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <ul class="ham_ul">
                  <li onclick="ham_close()"><a href="#"><img src="..\images\index\index320_nav_close_icon.png" alt="logo"></a></li>
                  <li><div class="hello">Hi，您好</div></li>
                  <li class="login_none"id="here"><a href="./login/"><div>登入</div></a></li><!--class的login_none和logout_none可以消失-->
                  <li class="logout_none"><a href="../send/"><div>送船</div></a></li><!--登入才要出現-->
                  <li class="logout_none"><a href="../receive/"><div>收船</div></a></li><!--登入才要出現-->
                  <li><a href="../imformation/"><div>活動資訊</div></a></li>
                </ul>
          </li>
          </ul>
        </div><!--ham-style-->
        <div class="ham_logo hamnav_style">
          <div class="hamnav_style">
            <img src="..\images\index\logo_34x26.png" alt="logo">
          </div>
          <div class="nav_li_B hamnav_style">ark</div>
        </div>
      </div><!--hambuger-->
  <div class="container">
    <nav>
      <div class="nav_style">
        <ul>
          <li class="nav_li_A"><img src="..\images\index\logo_34x26.png" alt="logo"></li>
          <li><div class="nav_li_B"><a href="../">方舟．ark</a></div></li>
        </ul>
        <ul class="nav_right">
          <li class="nav_li_C"><a href="../imformation/"><div>活動資訊</div></a></li>
          <li class="nav_li_D login_none"id="here"><a href="../login"><div>登入</div></a></li><!--class的login_none和logout_none可以消失-->
          <li class="nav_li_C logout_none"><a href="../send/"><div>收船</div></a></li><!--登入才要出現-->
          <li class="nav_li_C logout_none"><a href="../receive/"><div>送船</div></a></li><!--登入才要出現-->
          <li class="nav_li_D logout_none"><a href="#"><div>登出</div></a></li><!--登入才要出現-->
        </ul>
      </div>
    <div class="clear"></div>
    </nav>
      <!-- 內容區 -->
    <div class="allpage">
      <div class="cookie">首頁 > 登入</div>
      <div class="logo_up">
        <img src="..\images\index\logo_50x50.png" alt="logo">
      </div>
      <div class="title_text">使用您的ark帳戶登入</div>
      <div class="loginpag">
          <div class="user_head">
            <img src="../images/login/login_img_user.png" alt="head">
          </div>
          <form class="form_style" action="../log" method="post"><!--會員輸入-->
            <label>
              <input  class="id" type="text" name="email" value="" placeholder="輸入您的電子郵件">
            </label>
            <label>
              <input class="password" type="password" name="password" value="" placeholder="密碼">
            </label>
            <div>
              <input class="login_but" type="submit" name="" value="登入">
            </div>
          </form>
          <div class="forandreg_all">
            <div class="left forgot_style"><a href="../login_forgot/">忘記密碼?</a></div>
            <div class="left"><a href="../registered/">註冊會員</a></div>
            <div class="clear"></div>
          </div>
      </div><!--loginpag-->
    </div><!--allpage-->
    <footer>
      <div class="footer_txt">
        Copyright © 2017
      </div>
    </footer>
    </div><!--container-->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/javascript.js"></script>
  </body>
</html>
