/*container*/
.container{
  margin: 0;
  padding: 0;
  border:none;
  font-family: 'cwTeXHei', sans-serif;
  width: 100%;
  height: auto;
  /*width: 1024px;
  margin: 0 auto;*/
}
.claer{
  clear:both;
}
/*hover*/
a:hover{
  text-decoration: none;
}
a:link{
  text-decoration: none;
}
li a div:hover{
  color: #ffffff;
  background: #406474;
}
/*nav*/
nav{
  height: 40px;
  line-height: 40px;
  background-color: #f7f7f7;
  box-shadow: 0px 5px 9.7px 0.3px rgba(0, 0, 0, 0.2);
  position:relative;
}
nav .nav_style a div{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.57;
  letter-spacing: 1.4px;
  color: #4c778b;
  text-align: center;
  line-height: 40px;
}
nav ul{
  margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
  float: left;
}
.nav_right{
  float:right;
}
.nav_li_A{
  margin-left: 50px;
}
.nav_li_B{
  margin-left: 12px;
}
.nav_li_C{
  width: 85px;
}
.nav_li_D{
  width: 85px;
  margin-right: 79px;
}
/*hambuger*/
.hamburger-menu {
  margin-top: 10px;
  background: none;
  border: none;
  display: inline-block;
}
.hamburger-menu .icon-bar {
  background-color: black;
  display: block;
  height: 4px;
  margin: 0 auto 4px;
  width: 30px;
}
/*hambuger-menu*/
.hello{
  letter-spacing: 1.3px;
  color: #e4007f;
}
.ham_ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 254px; /*整個漢堡選單的寬高*/
  height: 1000px;
  padding-top: 90px;  /*調整漢堡裡的最上層高度*/
  background: #f7f7f7;
  display: block;
}
.ham_ul li{ /*漢堡緩單裡的li*/
  text-align: left;
  height: 48px;
  float: none;
}
.ham_ul li div{
  padding-left: 50px
}
.ham ul{
  display: none;
}
.ham li:hover ul{
  display: block;
}
/*allpage*/
.allpage{
  background: #66a8c6;
}
/*loginpag*/
.loginpag{
  width: 320px;
  height: 360px;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0px 2px 4.8px 0.3px rgba(0, 0, 0, 0.3);
}
/*footer*/
footer{
 height: 30px;
 background-color: #5e9bb7;
}
.footer_txt
{
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #6cb7d9;
  line-height:30px;
}
/*hover*/
a:hover{
  text-decoration: none;
}
a:link{
  text-decoration: none;
}
li a div:hover{
  color: #ffffff;
  background: #406474;
}
