<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device, initial-scale=1">
    <title>ark</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../../images/index/ark_logo.ico">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/ham_style.css">
    <link rel="stylesheet" href="../../information/more/info_more.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="../../send/send_js/send_script.js"></script>
    <style>
        @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
    </style>
    <style>
      <%= loginCollect.navsatus %> {display:none;}
      a:hover {text-decoration:none};
    </style>
  </head>
  <body>
      <!-- hamburger -->
      <div class="hamburger">
        <div class="ham-style hamnav_style">
          <ul class="ham">
            <li>
              <button class="hamburger-menu">
                <span class="icon-bar"></span>
                <span class=" icon-bar_short"></span>
                <span class="icon-bar"></span>
              </button>
                <ul class="ham_ul">
                  <div  class="ham_close"><a href="#"><img src="..\..\images\index\index320_nav_close_icon.png" alt="logo"></a></div>
                  <div class="li_hello"><div class="hello">Hi，您好</div></div>
                  <!-- 活動資訊 -->
                  <li class="ham_li_padding ham_but_01" id="here"><a href="../information/"><div class="left">
                    <img class="ham_icom" src="../../images/index/index320_infor_icon_white.png" alt="icon">
                    <!-- <img class="ham_icom icom_mous_in01" src="../../images/index/index320_infor_icon_blue.png" alt="icon"> -->
                  </div><div class="ham_li_text">活動資訊</div></a></li>
                  <!-- 登入 -->
                  <li class="login_none ham_li_padding ham_but_02"><a href="../login/"><div class="left">
                    <img class="ham_icom icom_mous_out02 icom_mous_out" src="../../images/index/index320_login_icon_white.png" alt="icon">
                    <img class="ham_icom icom_mous_in02" src="../../images/index/index320_login_icon_blue.png" alt="icon">
                  </div><div class="ham_li_text">登入</div></a></li><!--class的login_none和logout_none可以消失-->
                  <!-- 送船 -->
                  <li class="logout_none ham_li_padding ham_but_03"><a href="../send/"><div class="left">
                    <img class="ham_icom icom_mous_out03 icom_mous_out" src="../../images/index/nav_burger_send_icon_white.png" alt="icon">
                    <img class="ham_icom icom_mous_in03" src="../../images/index/nav_burger_send_icon_blue.png" alt="icon">
                  </div><div class="ham_li_text">送船</div></a></li><!--登入才要出現-->
                  <!-- 收船 -->
                  <li class="logout_none ham_li_padding ham_but_04"><a href="../receive/"><div class="left">
                    <img class="ham_icom icom_mous_out04 icom_mous_out" src="../../images/index/nav_burger_receive_icon_white.png" alt="icon">
                    <img class="ham_icom icom_mous_in04" src="../../images/index/nav_burger_receive_icon_blue.png" alt="icon">
                  </div><div class="ham_li_text">收船</div></a></li><!--登入才要出現-->
                  <!-- 登出 -->
                  <li class="logout_none logout_non ham_li_padding ham_but_05"><a href="../logout"><div class="left">
                    <img class="ham_icom icom_mous_out05 icom_mous_out" src="../../images/index/nav_burger_logout_icon_white.png" alt="icon">
                    <img class="ham_icom icom_mous_in05" src="../../images/index/nav_burger_logout_icon_blue.png" alt="icon">
                  </div><div class="ham_li_text">登出</div></a></li>
                  <div class="clear"></div>
                </ul>
          </li>
          </ul>
        </div><!--ham-style-->
        <div class="ham_logo">
          <a href="../">
            <div class="hamnav_style">
              <img src="..\..\images\index\logo_34x26.png" alt="logo">
            </div>
            <div class="nav_li_B hamnav_style">ark</div>
          </a>
        </div>
        <div class="clear"></div>
        <div id="blackbg00"></div><!--黑背景-->
      </div><!--hambuger-->
  <div class="container">
    <nav>
      <div class="nav_style">
        <ul>
          <li class="nav_li_A"><img src="..\..\images\index\logo_34x26.png" alt="logo"></li>
          <li><div class="nav_li_B"><a href="../">方舟．ark</a></div></li>
        </ul>
        <ul class="nav_right">
          <li class="nav_li_C" id="here"><a href="../information/"><div>活動資訊</div></a></li>
          <li class="nav_li_D login_none"><a href="../login/"><div>登入</div></a></li><!--class的login_none和logout_none可以消失-->
          <li class="nav_li_C logout_none"><a href="../receive/"><div>收船</div></a></li><!--登入才要出現-->
          <li class="nav_li_C logout_none"><a href="../send/"><div>送船</div></a></li><!--登入才要出現-->
          <li class="nav_li_D logout_none"><a href="../logout"><div>登出</div></a></li><!--登入才要出現-->
        </ul>
      </div>
    <div class="clear"></div>
    </nav>
    <!-- 活動內容 -->
    <article>
      <div class="cookie">首頁 > 活動資訊</div>
      <div class="info_more_all">
        <div class="info_more_img">
          <img src="../../images/information_img/more/infor_click_pic05_1024.png" alt="">
        </div>
        <div class="info_more_textall">
          <div class="info_text_title">線上互動紓壓遊戲</div>
          <div class="info_more_time">
            2017/03/13
          </div>
          <div class="info_more_com">
            壹、	課程簡介：以ART藝術治療來瞭解自己，看到別人。本課程將以Jung理論為出發，討論個人解析、團體解析以及社會情境中人們之表達性行為，並深入討論動機與人格相關議題。初、進階課程完成後，預計於2013年10月，日本樋口教授(日本生命線理事長)將來台灣教授高階證照班。
            <br>貳、辦理單位：社團法人國際生命線台灣總會
            <br>(電話：02-27189595、傳真：02-25473589、mail：lifelroc@ms25.hinet.net）
            <br>參、參加對象/人數：資格不限，滿15人開班，歡迎有心成為優秀協談師者，報名參加。
            <br>肆、費用：報名費每階3,000元（東區上課含吃、住、耗材及講義、其餘地區不含住宿）
            <br>生命線人員：優惠初階8折、進階5折、非生命線人員：初階原價、進階5折
          </div>
        </div>

     </div><!--info_more_all-->


      <!-- 活動內容區 -->


    <!-- 活動內容區end -->

    </article>


    </div><!--container-->
    <footer>
      <div class="footer_txt">
        Copyright © 2017
      </div>
    </footer>
    <!-- <script src="../../js/jquery.js"></script> -->
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/ham_script.js"></script>
  </body>
</html>
