/*container*/
/*.container{
  margin: 0;
  padding: 0;
  border:none;
  font-family: 'cwTeXHei', sans-serif;
  width: 100%;
}*/
.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}



/*article*/
.cookie{
  margin-bottom: 62px;
  font-size: 12px;
  letter-spacing: 1.2px;
  margin-left: 96px;
  color: #ededed;
}
.article_form_headertxt{
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3.6px;
  color: #ffffff;
  text-shadow: 1.4px 1.4px 4.8px rgba(0, 0, 0, 0.3);
}
/*text_style*/
.title_text_style{
  font-size: 16px;
  color: #474646;
}
.content_text_style{
  font-size: 14px;
  color: #6e6e6e;
  margin-bottom: 50px;
}
article{
  padding-top: 15px;
  padding-bottom: 70px;
  background-color: #66a8c6;
  /*設定最小高度避免背景留白*/
  /*min-height: 430px;*/
}
.article_headertxt{
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3.6px;
  color: #ffffff;
  text-shadow: 1.4px 1.4px 4.8px rgba(0, 0, 0, 0.3);
}
/*info_all*/
  .info_all{
    width: 660px;
    height: 150px;
    background-color: #ffffff;
    margin: 0 auto 20px auto;
    border-radius: 5px;
  }
  .info_img{
    width: 170px;
    height: 150px;
    border-radius: 5px;
  }
  .info_text{
    width: 490px;
    height: 150px;
    padding-left: 42px;
  }
  .info_text_title{
    margin-top: 22px;
    margin-bottom: 17px;
    font-size: 16px;
    letter-spacing: 3.2px;
    text-align: left;
    color: #e4007f;
  }
  .info_text_com{
    margin-right: 74px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1.2px;
    text-align: left;
    color: #6e6e6e;
    display: -webkit-box;
    overflow:hidden;
    text-overflow : ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
  }
  .info_text_butt{
    margin-top: 10px;
  }
  .info_text_butt_time{
    font-size: 12px;
    letter-spacing: 1.2px;
    color: #6e6e6e;
  }
  .info_text_butt_more{
    margin-right: 21px;
  }
  .info_text_butt_more a{
    font-size: 12px;
    letter-spacing: 1.2px;
    color: #406474;
  }
  /*頁數*/
  .count{
    margin: 38px auto 0 auto;
  }
  .count_style{
    text-align: center;
  }
  .count_style_in{
    display: inline-block;
  }
  .count_m{
    font-size: 14px;
    color: #304d5a;
  }
  .count_a{
    font-size: 12px;
    color: #406474;
  }
  .count_l1{
    margin-right: 23px;
  }
  .count_r1{
    margin-left: 23px;
  }
  .count_l2{
    margin-right: 17px;
  }
  .count_r2{
    margin-left: 17px;
  }
/*footer*/
html, body{
  font-family: 'Noto Sans TC', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  border:none;
}
.container{
  /*控制nav相對高度*/
  margin-top: -40px;
  width: 100%;
  min-height: 100%;
  margin: auto 0;
  padding: 0 0 31px 0;
  border:none;
  background-color: #66a8c6;
}
footer{
 margin-top: -30px;
 height: 30px;
 width: 100%;
 background-color: #5e9bb7;
}
.footer_txt
{
  text-align: center;
  font-size: 10px;
  color: #6cb7d9;
  line-height:30px;
}
/*hover和互動*/
a:hover{
  text-decoration: none;
}
a:link{
  text-decoration: none;
}
li a div:hover{
  color: #ffffff;
  background: #406474;
}
.myLink{
  cursor: pointer;
}
/*ham&nav*/
#here{
  background: #406474;
}
#here div {color: #ffffff;
}
#ham_here{
  background: #406474;
}
#ham_here div {color: #ffffff;
}
@media screen and (max-width: 768px){
  .info_all{
    width: 80%;
    height: 120px;
    margin: 0 auto 30px auto;
  }
  .info_img img{
    width: 80%;
  }
  .info_text{
    width: 60%;
    height: 150px;
    padding-left: 0px;
    margin-right: 0;
    float: left;
  }
    .info_text_title{
      margin-top: 10px;
      margin-bottom: 10px;
      overflow:hidden;
    	text-overflow : ellipsis;
      white-space : nowrap;
    }
  .info_text_com{
    margin-right: 0px;
    width: 100%;
    display: -webkit-box;
    overflow:hidden;
    text-overflow : ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
  }
  .cookie{
    margin-left: 20px;
    color: #ededed;
  }
}
@media screen and (max-width: 550px){
  .info_text{
    width: 54%;
  }
}
@media screen and (max-width: 480px){
  .info_img{
    display: none;
  }
  .info_text{
    width: 90%;
    height: 150px;
    padding-left: 0px;
    float: none;
    margin: 0 auto;
    padding-top: 1px;
  }
}
